
@{
    ViewData["Title"] = "UpdateService";
    Project.Outputs.ServiceOutput service = ViewBag.Service;
    List<string> addresses = ViewBag.Addresses;
}
<form method="post" action="/register" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputName">Название</label>
        <input name="name" type="text" class="form-control" id="inputName" value="@service.Name">
    </div>
    <select id="inputAddress" name="address" class="custom-select mr-sm-2">
        @{
            foreach (string address in addresses)
            {
                <option value="@address">@address</option>
            }
        }
    </select>
    <div class="form-group">
        <label for="inputDescription">Описание услуги</label>
        <textarea name="description" class="form-control" id="inputDescription" rows="3">@service.Description</textarea>
    </div>
    <div class="form-group">
        <label for="inputAddress">Цена в рублях</label>
        <input name="price" type="number" class="form-control" id="inputPrice" value="@service.Price">
    </div>
    <div class="form-group">
        <label for="inputLongTime">Длительность оказания услуги (в минутах)</label>
        <input name="long_time" type="number" class="form-control" id="inputLongTime" value="@service.Long_time">
    </div>
    <div class="row">
        <div class="col-2">Время</div>
        <div id="times" class="col-10">
            @{
                for (int i = 1; i <= service.Times.Length; i++)
                {
                    <div class="form-group" id="inputTimeBlock @i">
                        <input class="form-control" type="time" value="@service.Times[i-1]" id="inputTime @i">
                    </div>
                }
             }
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-5"><button type="button" id="addTime" class="btn btn-primary col-12">Добавить время оказания услуги</button></div>
        <div class="col-5"><button type="button" id="cancelTime" class="btn btn-danger col-12">Отменить последние</button></div>
    </div>
    <div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Monday">Понедельник
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Tuesday">Вторник
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Wednesday">Среда
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Thursday">Четверг
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Friday">Пятница
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Saturday">Суббота
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Sunday">Воскресенье
            </label>
        </div>
    </div>
    <button type="submit" id="addService" class="btn btn-success mt-3">Сохранить изменения</button>
</form>

@{ 
    for (var i = 1; i <= service.Days.Length; i++)
    {
    <div id="@i" hidden>@service.Days[i - 1]</div>
    }
}

<script>
    var daysCount = @service.Days.Length;
    var daysList = [];
    for (var i = 1; i <= daysCount; i++) {
        var dayValue = document.getElementById(i);
        daysList.push(dayValue.innerText);
        console.log(dayValue.innerText);
    }

    for (var i = 1; i <= 7; i++) {
        var day = document.getElementById('inlineCheckbox' + i);
        if (daysList.includes(day.value)) {
            console.log(day.value);
            day.checked = true;
        }
    }

    var times = document.getElementById('times');
    var countTimes = @service.Times.Length;

    var cancelTimeButton = document.getElementById('cancelTime');
    cancelTimeButton.addEventListener('click', function () {
        if (countTimes > 1) {
            document.getElementById('inputTimeBlock ' + countTimes).remove();
            countTimes--;
        }
    });

    var addTimeButton = document.getElementById('addTime');
    addTimeButton.addEventListener('click', function () {
        countTimes++;
        var div = document.createElement('div');
        div.id = "inputTimeBlock " + countTimes;
        div.innerHTML = '<div class="form-group">' +
            '<input class="form-control" type="time" value="13:45" id="inputTime ' + countTimes + '">' +
            '</div>';
        times.appendChild(div);
    });

    document.getElementById('addService').addEventListener('click', e => {
        e.preventDefault();
        addService();
    });
    async function addService() {

        // получаем данные формы и фомируем объект для отправки
        const formData = new FormData();
        formData.append("name", document.getElementById("inputName").value);
        formData.append("description", document.getElementById("inputDescription").value);
        formData.append("address", document.getElementById("inputAddress").value);
        formData.append("price", document.getElementById("inputPrice").value);
        formData.append("long_time", document.getElementById("inputLongTime").value);

        var timesList = '';
        for (var i = 1; i <= countTimes; i++) {
            console.log(i);
            timesList += document.getElementById('inputTime ' + i.toString()).value.toString() + ';';
        }
        formData.append("times", timesList);

        var days = '';
        for (var i = 1; i < 8; i++) {
            var item = document.getElementById('inlineCheckbox' + i);
            if (item.checked)
                days += item.value + ';';
        }
        formData.append("days", days);

        var id = @service.Id;
        // отправляет запрос и получаем ответ
        const response = await fetch("/Company/UpdateService/" + id, {
        method: "POST",
            headers: {"Accept": "application/json" },
            body: formData
        });
        // получаем данные
        const data = await response.json();

        // если запрос прошел нормально
        if (response.ok === true) {
            if (data.result == "success") {
                document.location.href = "/Company/CompanyPage";
            } else {
                alert("Неудачная попытка");
            }
        }
        else {
        // если произошла ошибка, из errorText получаем текст ошибки
        console.log("Error: ", response.status, data.errorText);
        }
    };</script>