
@{
    ViewData["Title"] = "UpdateService";
    Project.Outputs.ServiceOutput service = ViewBag.Service;
    List<string> addresses = ViewBag.Addresses;
    List<Project.Inputs.DayTimes> daysTimes = ViewBag.DaysTimes;
    string datesOff = ViewBag.DatesOff;
}
<form method="post" action="/register" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputName">Название</label>
        <input name="name" type="text" class="form-control" id="inputName" placeholder="Название услуги" value="@service.Name">
    </div>
    <select id="inputAddress" name="address" class="custom-select mr-sm-2">
        @{
            foreach (string address in addresses)
            {
                <option value="@address">@address</option>
            }
        }
    </select>
    <div class="form-group">
        <label for="inputDescription">Описание услуги</label>
        <textarea name="description" class="form-control" id="inputDescription" rows="3">@service.Description</textarea>
    </div>
    <div class="form-group">
        <label for="inputAddress">Цена в рублях</label>
        <input name="price" type="number" class="form-control" id="inputPrice" placeholder="" value="@service.Price">
    </div>
    <div class="form-group">
        <label for="inputLongTime">Длительность оказания услуги (в минутах)</label>
        <input name="long_time" type="number" class="form-control" id="inputLongTime" placeholder="" value="@service.Long_time">
    </div>
    <div id="times">
        <div class="form-group" style="display: flex; justify-content: space-between;">
            <div class="mt-2">
                <label>Понедельник</label>
                <div id="timesMonday">
                    @{ 
                        List<string> times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Monday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                                        <div id="inputTimeBlockMonday_@i">
                                            <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeMonday_@i">
                                        </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeMonday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeMonday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Вторник</label>
                <div id="timesTuesday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Tuesday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockTuesday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeTuesday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeTuesday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeTuesday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Среда</label>
                <div id="timesWednesday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Wednesday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockWednesday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeWednesday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeWednesday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeWednesday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Четверг</label>
                <div id="timesThursday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Thursday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockThursday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeThursday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeThursday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeThursday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Пятница</label>
                <div id="timesFriday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Friday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockFriday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeFriday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeFriday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeFriday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Суббота</label>
                <div id="timesSaturday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Saturday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockSaturday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeSaturday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeSaturday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeSaturday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
            <div class="mt-2">
                <label>Воскресенье</label>
                <div id="timesSunday">
                    @{
                        times = Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Sunday");
                        for (var i = 1; i <= times.Count; i++)
                        {
                            <div id="inputTimeBlockSunday_@i">
                                <input class="form-control mt-2" type="time" value="@times[i-1]" id="inputTimeSunday_@i">
                            </div>
                        }
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-6"><button type="button" id="addTimeSunday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                    <div class="col-6"><button type="button" id="cancelTimeSunday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Дата, до которой возможна запись</label>
        <div class="col-10">
            <input id="inputDate" class="form-control" type="date" value="@service.EndDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Отметьте нерабочие дни</label>
        <div class="col-10">
            <input type="text" id="daysOff" class="form-control date" placeholder="Отметьте нерабочие дни" value="@datesOff">
        </div>
    </div>
    <button type="submit" id="addService" class="btn btn-success mt-3">Сохранить изменения</button>
</form>

<script>
    $('.date').datepicker({
        multidate: true,
        format: 'dd-mm-yyyy',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
    });
    var countTimes = new Map();
    countTimes.set("Monday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Monday").Count);
    countTimes.set("Tuesday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Tuesday").Count);
    countTimes.set("Wednesday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Wednesday").Count);
    countTimes.set("Thursday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Thursday").Count);
    countTimes.set("Friday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Friday").Count);
    countTimes.set("Saturday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Saturday").Count);
    countTimes.set("Sunday", @Project.Controllers.CompanyController.GetTimesByDay(daysTimes, "Sunday").Count);

    function addTimeManipulating(day) {
        var times = document.getElementById('times' + day);
        var cancelTimeButton = document.getElementById('cancelTime' + day);
        cancelTimeButton.addEventListener('click', function () {
            if (countTimes.get(day) > 0) {
                document.getElementById('inputTimeBlock' + day + '_' +  countTimes.get(day)).remove();
                countTimes.set(day, countTimes.get(day) - 1);
            }
        });

        var addTimeButton = document.getElementById('addTime' + day);
        addTimeButton.addEventListener('click', function () {
            countTimes.set(day, countTimes.get(day) + 1);
            var div = document.createElement('div');
            div.innerHTML = '<input class="form-control mt-2" type="time" value="13:45" id="inputTime' + day + '_' + countTimes.get(day) + '">';
            div.id = "inputTimeBlock" + day + '_' + countTimes.get(day);
            times.appendChild(div);
        });
    }

    addTimeManipulating("Monday");
    addTimeManipulating("Tuesday");
    addTimeManipulating("Wednesday");
    addTimeManipulating("Thursday");
    addTimeManipulating("Friday");
    addTimeManipulating("Saturday");
    addTimeManipulating("Sunday");

    document.getElementById('addService').addEventListener('click', e => {
        e.preventDefault();
        addService();
    });

    function getTimes(day) {
        var times = [];
        for (var i = 1; i <= countTimes.get(day); i++) {
            times.push(document.getElementById("inputTime" + day + '_' + i).value);
        }
        return {
            day: day,
            times: times
        };
    }

    async function addService() {

        // получаем данные формы и фомируем объект для отправки
        const formData = new FormData();
        formData.append("name", document.getElementById("inputName").value);
        formData.append("description", document.getElementById("inputDescription").value);
        formData.append("address", document.getElementById("inputAddress").value);
        formData.append("price", document.getElementById("inputPrice").value);
        formData.append("long_time", document.getElementById("inputLongTime").value);
        formData.append("end_date", document.getElementById("inputDate").value)
        formData.append("days_off", document.getElementById("daysOff").value)

        var daysTimes = [];
        daysTimes.push(getTimes("Monday"));
        daysTimes.push(getTimes("Tuesday"));
        daysTimes.push(getTimes("Wednesday"));
        daysTimes.push(getTimes("Thursday"));
        daysTimes.push(getTimes("Friday"));
        daysTimes.push(getTimes("Saturday"));
        daysTimes.push(getTimes("Sunday"));

        var addr = {
            "daysTimes": daysTimes
        };
        formData.append("days_times", JSON.stringify(addr));

        var id = @service.Id;
        // отправляет запрос и получаем ответ
        const response = await fetch("/Company/UpdateService/" + id, {
            method: "POST",
            headers: { "Accept": "application/json" },
            body: formData
        });
        // получаем данные
        const data = await response.json();

        // если запрос прошел нормально
        if (response.ok) {
            if (data.result == "success") {
                document.location.href = "/Company/CompanyPage";
            } else {
                alert("Неудачная попытка");
            }
        }
        else {
            // если произошла ошибка, из errorText получаем текст ошибки
            console.log("Error: ", response.status, data.errorText);
        }
    };
</script>