
@{
    ViewData["Title"] = "UpdateCompany";
    Project.Outputs.CompanyOutput company = ViewBag.Company;
    List<Company_to_address> addresses = ViewBag.Addresses;
}

<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" value="@company.Email">
    </div>
    <div class="form-group">
        <label for="inputName">Название компании</label>
        <input name="name" type="text" class="form-control" id="inputName" placeholder="Название компании" value="@company.Name">
    </div>
    <div class="form-group">
        <label for="inputPhone">Номер телефона</label>
        <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="+71111111111" value="@company.Phone">
    </div>
    <div id="addresses">
        @{
            for (int i = 1; i <= addresses.Count; i++)
            {
                <div id="inputAddressBlock @i">
                    <div class="form-group">
                        @{
                            if (i == 1)
                            {
                                <label for="inputAddress 1">Адреса</label>
                            }
                        }
                        <input name="address" type="text" class="form-control" id="inputAddress @i" placeholder="Проспект Ленина дом 8" value="@addresses[i-1].Address">
                        <input id="inputAddressId @i" value="@addresses[i-1].Id" hidden/>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-6"><button type="button" id="addAddress" class="btn btn-primary col-12">Добавить время оказания услуги</button></div>
        <div class="col-6"><button type="button" id="cancelAddress" class="btn btn-danger col-12">Отменить последние</button></div>
    </div>
    <div class="form-group">
        <label for="inputDescription">Описание компании</label>
        <textarea name="description" class="form-control" id="inputDescription" rows="3">@company.Description</textarea>
    </div>
    <div class="custom-file">
        <input name="pic" type="file" class="custom-file-input" accept="image/*" id="customFile">
        <label class="custom-file-label" for="customFile">Выберите фото</label>
    </div>
    <button type="submit" id="submitButton" class="btn btn-primary mt-3">Отправить</button>
</form>
<script>
    var countAddress = @addresses.Count;
    var addTimeButton = document.getElementById('addAddress');
    var times = document.getElementById('addresses');

    addTimeButton.addEventListener('click', function () {
        countAddress++;
        var div = document.createElement('div');
        div.id = "inputAddressBlock " + countAddress;
        div.innerHTML = '<div class="form-group">' +
            '<input name="address" type="text" class="form-control" id="inputAddress ' + countAddress + '" placeholder="1234 Main St">' +
            '<input id="inputAddressId ' + countAddress + '" value="0" />' + 
            '</div>';
        times.appendChild(div);
    });

    var cancelTimeButton = document.getElementById('cancelAddress');
    cancelTimeButton.addEventListener('click', function () {
        if (countAddress > 1) {
            document.getElementById('inputAddressBlock ' + countAddress).remove();
            countAddress--;
        }
    });

    document.getElementById('submitButton').addEventListener('click', e => {
        e.preventDefault();
        registration();
    });

    async function registration() {

        // получаем данные формы и фомируем объект для отправки
        const formData = new FormData();
        //formData.append("grant_type", "password");
        formData.append("email", document.getElementById("inputEmail").value);
        formData.append("name", document.getElementById("inputName").value);
        formData.append("phone", document.getElementById("inputPhone").value);
        formData.append("description", document.getElementById("inputDescription").value);
        formData.append("pic", document.getElementById("customFile").files[0]);

        var addresses = [];
        for (var i = 1; i <= countAddress; i++) {
            addresses.push(
                {
                    id: document.getElementById('inputAddressId ' + i).value,
                    value: document.getElementById('inputAddress ' + i).value
                }
            );
        }
        var addr = {
            "addresses": addresses
        };
        formData.append("address", JSON.stringify(addr));


        // отправляет запрос и получаем ответ
        const response = await fetch("/Company/UpdateCompany", {
            method: "POST",
            headers: { "Accept": "application/json" },
            body: formData,
        });
        // получаем данные
        const data = await response.json();

        // если запрос прошел нормально
        if (response.ok) {
            if (data.result.toString() == "success")
                document.location.href = "/Company/CompanyPage";
            else
                alert("Пользователь с таким логином уже существует!")
        }
        else {
            // если произошла ошибка, из errorText получаем текст ошибки
            console.log("Error: ", response.status, data.errorText);
        }
    };
</script>

